<<<<<<< HEAD
<<<<<<< HEAD
* {
    box-sizing: border-box;
}
.scroll{
    width: 800px;
    height: 400px;
    overflow: auto;
    background-attachment:scroll;
    background: green;
}
.parent {
    width: 400px;
    height: 300px;
    background: #8F86AF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

}
.block1 {
    width: 50px;
    height: 50px;
    background: #8FC091;
    position: absolute;
    top: 0;
    right: 0;
}
.block2 {
    width: 50px;
    height: 50px;
    background: #8D4B63;
    position: absolute;
    left: 0;
    bottom: 0;
=======
=======
>>>>>>> pos_rel
*{
    box-sizing: border-box;
}
.parent {
<<<<<<< HEAD
    width: 500px;
    height: 500px;
    background: #8FC091;
}
.block1 {
    width: 450px;
    height: 250px;
    background: #8D4B63;
    position: relative;
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    margin: 0 auto;
}
.block2 {
    width: 350px;
    height: 200px;
    background: #D9D9D9;
    position: relative;
    margin: 0 auto;
    bottom: 50px;
>>>>>>> pos_fix
}
=======
    width: 200px;
    height: 200px;
    background-color: rgb(68, 125, 20);
    position: relative;
    margin: 300px 300px 300px 300px;
}
.block1 {
    width: 50px;
    height: 50px;
    background:yellow;
    position: absolute;
    top: initial;
    right: 100%;
    bottom: 100%;
}
.block2 {
    width: 50px;
    height: 50px;
    background: fuchsia;
    position: absolute;
    top: initial;
    left: 100%;
    bottom: 100%;

}
.block3 {
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    top: 100%;
    left: 100%;

}
.block4 {
    width: 50px;
    height: 50px;
    background: purple;
    position: absolute;
    top: 100%;
    right: 100%;
}
.one {
    width: 50px;
    height: 50px;
    background: grey;
    position: absolute;
    top: initial;
    left: 100%;
    bottom: 100%;
}
.two {
    width: 50px;
    height: 50px;
    background: grey;
    position: absolute;
    top: 100%;
    right: 100%;
}
>>>>>>> pos_rel
